<%- include('layouts/head.ejs') %>
<div class="container mt-5">
    <h1>Contact page</h1>
    <div class="row">
        <div class="col-12"><a href="/contact/add" class="btn btn-primary"> Tambah contact</a></div>
        <div class="col-12">
            <% if (berhasil.length !== 0) { %>
            <div class="mb-2 mt-2">
                <div class="alert alert-success" role="alert"><%= berhasil %></div>
            </div>
            <% } %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">No telepon</th>
                        <th scope="col">Email</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (contacts.length === 0) { %>
                    <tr>
                        <td colspan="5">
                            <div class="alert alert-danger" role="alert">Anda belum menambahkan data contact</div>
                        </td>
                    </tr>
                    <% }else{ %> <% contacts.forEach((contact,i) => { %>
                    <tr>
                        <th scope="row"><%= i+=1 %></th>
                        <td><%= contact.nama %></td>
                        <td><%= contact.nohp %></td>
                        <td><%= contact.email %></td>
                        <td>
                            <a href="/contact/<%= contact.email %>" class="btn btn-primary btn-sm"
                                ><i class="bi bi-info-circle-fill"></i> detail</a
                            >
                            <a href="/contact/<%= contact.email %>" class="btn btn-danger btn-sm" onclick="return confirm('apakah kamu yakin ingin menghapus?')"
                                ><i class="bi bi-trash-fill"></i> Hapus</a
                            >
                        </td>
                    </tr>
                    <% }) %> <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('layouts/footer.ejs') %>
